.TotalMoney{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    width: 90%;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    padding: 0 10px;
}
.label{
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.label p {
    margin: 0;
}
.label-minor{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
}
.total{
    color: #FD377E;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}