*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* butto{
  cursor: pointer;
}
@media (min-width:800px){
  .Container{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width:500px){
  .Container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
}
@media (max-width:800px){
  .Container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 20px;
  }
} */